.result-section{
    height: 500px;
    padding: 10px 0px 10px 0px;
}

.participantes-card{
    border-radius: 2px;
    border-top: 6px solid #5DDDD3;
    border-bottom: 6px solid #5DDDD3;
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 5px 10px 8px #888888;
}
.card-section1{
    padding: 10px 0px 10px 0px;
}
.card-section1 img{
    border-radius: 20%;
    height: 100px;
    width: 100px;
}
.card-section2 p{
    font-weight: bold;
    color: #5DDDD3;
    letter-spacing: 1px;
}